body {
    /*assign a background to the body*/
    background: linear-gradient(to top, #b9dcf7 0%, #f8ccfd 100%);
}

h1 {
    font-family: cursive;
    color: #53005c;
    font-style: italic;
}

h3 {
    font-family: cursive;
    color: #53005c;
}

div {
    font-family: cursive;
    color: #321c34;
    width: 800px;
}


#menuBG {
    width: 800px;
    height: 470px;
    margin: 10px auto;
    text-align: center;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 500px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 300px;
    height: 200px;
}

#btnOrder {
    margin: 5px 0px 0px 360px;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    color: #53005c;
    background-color: aliceblue;
    font-family: cursive;
    font-weight: bold;
    display: block;

}